<!DOCTYPE HTML>
<html>
<head>
    <title>Добро пожаловать!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Добро пожаловать в Editor's Workspace!</h1>
<h3><a href="/main">Приступить к работе</a></h3>
</body>
</html>