<html>

<body>
<div>
    <div style="display: inline-block;">
        <a href="/roles">Добавить роль</a>
    </div>
    <div style="display: inline-block;">
        <a href="/users">Список пользователей</a>
    </div>
    <div style="display: inline-block;">
        <a href="/reports">Добавить отчет</a>
    </div>
    <div style="display: inline-block;">
        <form action="/logout" method="post">
            <input type="submit" value="Выход"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
    </div>
    <div>
        {{some}}
    </div>
</div>
</body>

</html>