<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fb3dc001db.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
<nav class="navbar navbar-inverse shadow-sm mb-3">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/static/burone.png" class="img"></a>
        </div>
        <ul class="nav navbar">
            <li class="mr-4">
                <i class="fa fa-user" aria-hidden="true"></i> {{user.name}} {{user.surname}}
            </li>
            <li>
                <form action="/logout" method="post">
                    <button class="btn p-0" type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i> Выход
                    </button>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="mt-4 mb-4">
        <h3>Рабочая панель</h3>
    </div>
    <div class="row">
        {{#isAuthorized}}
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/reports/add">
                    <div class="card border-left-primary shadow-sm h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <h6 class="text-xs font-weight-bold text-uppercase mb-1">Добавить<br>отчет
                                    </h6>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-plus-square fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/reports">
                    <div class="card border-left-primary shadow-sm h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <h6 class="text-xs font-weight-bold text-uppercase mb-1">Список<br>отчетов
                                    </h6>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-copy fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/isAuthorized}}

        {{#isAdmin}}
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/users">
                    <div class="card border-left-primary shadow-sm h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <h6 class="text-xs font-weight-bold text-uppercase mb-1">Список<br>аккаунтов
                                    </h6>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-users fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/roles">
                    <div class="card border-left-primary shadow-sm h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <h6 class="text-xs font-weight-bold text-uppercase mb-1">Список<br>ролей
                                    </h6>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-tags fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {{/isAdmin}}

        {{#isManager}}
            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/project">
                    <div class="card border-left-primary shadow-sm h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <h6 class="text-xs font-weight-bold text-uppercase mb-1">Добавить<br>проект
                                    </h6>
                                </div>
                                <div class="col-auto">
                                    <i class="fa fa-folder-plus fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <a href="/projects">
                    <div class="card border-left-primary shadow-sm h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <h6 class="text-xs font-weight-bold text-uppercase mb-1">Список<br>проектов
                                    </h6>
                                </div>
                                <div class="col-auto">
                                    <i class="far fa-list-alt fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card card-info shadow-sm">
                    <div class="card-header py-3">
                        <h6 class="m-0 text-xs font-weight-bold text-uppercase">Информация по проектам</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 py-2">
                                <div class="col px-0">
                                    <h2>{{countOfDoneProjects}}</h2>
                                </div>
                                <div class="col px-0">
                                    Проектов выполнено
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 py-2">
                                <div class="col px-0">
                                    <h2>{{countOfDoneReports}}</h2>
                                </div>
                                <div class="col px-0">
                                    Отчетов сдано
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 py-2">
                                <div class="col px-0">
                                    <h2>{{countOfUndoneReports}}</h2>
                                </div>
                                <div class="col px-0">
                                    Отчетов на проверке
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 py-2">
                                <div class="col px-0">
                                    <h2>{{averageMins}}</h2>
                                </div>
                                <div class="col px-0">
                                    Среднее выполение работы в минутах
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/isManager}}
        {{#isAuthorized}}
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card card-info shadow-sm">
                    <div class="card-header py-3">
                        <h6 class="m-0 text-xs font-weight-bold text-uppercase">Новостная лента</h6>
                    </div>
                    <div class="card-body">
                        {{#news}}
                            <div class="row">
                                <div class="col-xl-3 col-md-3 py-2">
                                    {{stringDate}}
                                </div>
                                <div class="col-xl-9 col-md-9 py-2">
                                    {{text}}
                                </div>
                            </div>
                        {{/news}}
                        {{^news}}
                            <div class="row">
                                <div class="col-xl-12 col-md-12 py-2">
                                    Новостей нет
                                </div>
                            </div>
                        {{/news}}
                    </div>
                </div>
            </div>
        {{/isAuthorized}}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>