<html>

<body>
<a href="/main">Главная страница</a>
<div>
    <form method="post">
        <input type="text" name="roleName" placeholder="Введите название новой роли"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Добавить роль</button>
    </form>
    {{#message}}
        {{message}}
    {{/message}}
</div>
</body>

</html>