<html>

<body>
<div>
    <form method="post">
        <input type="text" name="roleName" placeholder="Введите название новой роли"/>
        <button type="submit">Добавить роль</button>
    </form>
</div>
</body>

</html>