<html>
<body>
    <a href="/main">Главная страница</a>
    <h1>Список пользователей</h1>
    <table border="1" cellpadding="5" style="border-collapse: collapse;">
        <thead>
        <tr>
            <th>Логин</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Текущая роль</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <td>{{username}}</td>
                <td>{{name}}</td>
                <td>{{surname}}</td>
                <td>{{role.name}}</td>
                <td><a href="/users/{{id}}">Редактировать</a></td>
            </tr>
        {{/users}}
        </tbody>
    </table>
</body>
</html>